.div-body {
    width: 100%;
    background-image: url("../../imges/web 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.bady-page {
    width: 700px;
    max-width: 95%;
    min-height: 200px;
    background-color: #ffffffe8;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 15px;
}

.dive-bady-work-experience {
    width: 100%;
    border-top: 1px dotted #999999;
}

.div-display-work-experience {
    padding-top: 15px;
}